@import "tailwindcss";
@plugin "tailwindcss-animate";

body {
  @apply bg-slate-950 text-slate-50 min-h-screen antialiased;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'SF Pro Text', sans-serif;
}
